.container {
    position: fixed;
    z-index: 10000000;
    bottom: var(--spacing-secondary);
    left: 50%;
    transform: translateX(-50%);
    padding: var(--spacing-secondary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-primary);
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: width var(--animation-duration) linear forwards;
    }
    &.success::after {
        background-color: #07cf00;
    }
    &.error::after {
        background-color: red;
    }
    &.info::after {
        background-color: #2faef7;
    }
}
@keyframes width {
    from {
        width: 100%;
    }
    to {
        width: 0px;
    }
}