.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000;
    background-color: rgba(0,0,0,.4);
    left: 0;
    top: 0;
}
.container {
    --default-height: 90%;
    background-color: var(--background-primary);
    padding: var(--spacing-secondary);
    position: fixed;
    z-index: 1000001;
    width: 650px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.header {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: var(--spacing-secondary);
}
.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-secondary);
}

@media (max-width: 500px) {
    .footer>button {
        flex: 1;
        justify-content: center;
    }
}