.main {
    width: var(--width-main);
    max-width: var(--width-main-max);
    min-height: calc(100vh - var(--footer-height));
    margin: 0 auto;
    padding: calc(var(--navbar-height) + var(--spacing-primary)) 0 var(--spacing-primary);

    h1 {
        font-size: 35px;
        margin: 0;
        margin-bottom: var(--spacing-primary);
    }
}
.header {
    display: block;
    padding: var(--spacing-primary) 0;
}
.selectors {
    display: grid;
    gap: var(--spacing-secondary);
    padding: var(--spacing-secondary);
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);
}
.selector {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-secondary);
}
.selector-preview {
    display: flex;
    gap: var(--spacing-secondary);
    width: 32%;
}
.preview-image {
    position: relative;
    min-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-primary);
    background-color: var(--background-tertiary);
    overflow: hidden;

    img {
        display: block;
        object-fit: cover;
    }
}
.preview-text {
    display: flex;
    flex-direction: column;
}
.preview-title {
    font-size: 18px;
    font-weight: 600;
}
.preview-subtitle {
    font-size: 14px;
    color: var(--text-secondary);
    margin-top: 4px;
}
.recommendations {
    display: grid;
    gap: var(--spacing-secondary);
    grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
}
.recommendations-header {
    font-weight: 500;
    border-top: 1px solid var(--background-tertiary);
    padding-top: var(--spacing-primary);
    padding-bottom: var(--spacing-secondary);
    margin: 0;
    margin-top: var(--spacing-primary);
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    a {
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
    .recommendation-placeholder-text {
        background-color: var(--background-secondary);
        border-radius: var(--border-radius-secondary);
        border: 1.5px solid var(--background-tertiary);
        height: 30px;
        width: 150px;
    }
}

.preview-text-loading {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
}
.preview-title-loading {
    @extend .preview-text-loading;
    width: 100px;
    height: 22px;
}
.preview-subtitle-loading {
    @extend .preview-text-loading;
    height: 17px;
    width: 180px;
    margin-top: 4px;
}

.artists-main {
    display: flex;
    gap: var(--spacing-primary);
    margin-top: var(--spacing-primary);
    padding: var(--spacing-secondary);
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);
    border: 2px solid var(--background-tertiary);

    &>* {
        flex: 1;
    }
}
.info-card {
    display: flex;
    gap: var(--spacing-secondary);
}
.info-card-image {
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius-primary);
    overflow: hidden;
    position: relative; 
    background-color: var(--background-tertiary);
}
.info-card-text {
    display: flex;
    flex-direction: column;

    a:hover {
        text-decoration: underline;
    }
}
.info-card-header {
    font-size: 20px;
    font-weight: 600;
}
.info-card-sub-header {
    margin-top: 5px;
    color: var(--text-secondary);
    font-size: 14px;
}

// Small card
.info-card.small {
    .info-card-image {
        min-width: 80px;
        width: 80px;
        min-height: 80px;
        height: 80px;
    }
    .info-card-header {
        font-size: 16px;
    }
    .info-card-sub-header {
        font-size: 12px;
    }
}

// Loading card
.loading-text {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-primary);
}
.info-card-header-loading {
    @extend .loading-text;
    width: 200px;
    height: 28px;
}
.info-card-sub-header-loading {
    @extend .loading-text;
    width: 120px;
    height: 18px;
    margin-top: 5px;
}
.info-card.small {
    .info-card-header-loading {
        width: 100px;
        height: 20px;
    }
    .info-card-sub-header-loading {
        height: 14px;
    }
}

.related-artists-header {
    margin: var(--spacing-secondary) 0;
    display: block;
}
.related-artists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    gap: var(--spacing-secondary);
    padding: var(--spacing-secondary);
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);

    &>* {
        flex: 1;
    }
}

.artist-items {
    display: flex;
    gap: var(--spacing-secondary);
    
    &>div {
        flex: 1;
    }
}
.item-list-header {
    margin: var(--spacing-secondary) 0;
    display: block;
}
.item-list {
    padding: var(--spacing-secondary);
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);
    display: grid;
    gap: var(--spacing-secondary);
    height: 250px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 18px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-tertiary);
        border-radius: 120px;
        border: 4px solid var(--background-secondary);
    }

    a:hover {
        text-decoration: underline;
    }
}
.list-item {
    display: flex;
    align-items: center;
}
.list-item-image {
    min-width: 25px;
    width: 25px;
    height: 25px;
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
    overflow: hidden;
    position: relative;
    margin-right: var(--spacing-tertiary);
}
.list-item-number {
    text-align: right;
    flex: 1;
}

.list-item-name-loading {
    @extend .loading-text;
    width: 140px;
    height: 20px;
}
.list-item-number-loading {
    @extend .loading-text;
    width: 16px;
    height: 25px;
    margin-left: auto;
}

@media (max-width: 800px) {
    .artists-main {
        flex-direction: column;
    }
    .artist-items {
        flex-direction: column;
        gap: unset;
    }
}
@media (max-width: 700px) {
    .selector {
        flex-direction: column;

        &>div {
            width: 100%;
        }
    }
}
@media (max-width: 450px) {
    .artists-main {
        .info-card-image {
            min-width: 100px;
            width: 100px;
            height: 100px;
        }
    }
}