.main {
    width: var(--width-main);
    max-width: var(--width-main-max);
    min-height: calc(100vh - var(--footer-height));
    margin: 0 auto;
    padding: calc(var(--navbar-height) + var(--spacing-primary)) 0 var(--spacing-primary);

    h1 {
        font-size: 35px;
        margin: 0;
        margin-bottom: var(--spacing-primary);
    }
}
.header {
    display: block;
    padding: var(--spacing-primary) 0;
}
.selectors {
    display: grid;
    gap: var(--spacing-secondary);
    padding: var(--spacing-primary);
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);
}
.selector {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-secondary);
}
.selector-preview {
    display: flex;
    gap: var(--spacing-secondary);
    width: 32%;
}
.preview-image {
    position: relative;
    min-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-primary);
    background-color: var(--background-tertiary);
    overflow: hidden;

    img {
        display: block;
        object-fit: cover;
    }
}
.preview-text {
    display: flex;
    flex-direction: column;
}
.preview-title {
    font-size: 18px;
    font-weight: 600;
}
.preview-subtitle {
    font-size: 14px;
    color: var(--text-secondary);
    margin-top: 4px;
}
.recommendations {
    display: grid;
    gap: var(--spacing-secondary);
    grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
}
.recommendations-header {
    font-weight: 500;
    border-top: 1px solid var(--background-tertiary);
    padding-top: var(--spacing-primary);
    padding-bottom: var(--spacing-secondary);
    margin: 0;
    margin-top: var(--spacing-primary);

    a {
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

.preview-text-loading {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
}
.preview-title-loading {
    @extend .preview-text-loading;
    width: 100px;
    height: 22px;
}
.preview-subtitle-loading {
    @extend .preview-text-loading;
    height: 17px;
    width: 180px;
    margin-top: 4px;
}