:root {
  --spacing-primary: 25px;
  --spacing-secondary: 15px;
  --background-primary: #fff;
  --background-secondary: #F6F6F6;
  --background-tertiary: #EAEAEA;
  --color-primary: #FF5959;
  --color-secondary: #FF7B7B;
  --text-primary: #131313;
  --text-secondary: #606770;
  --text-light-primary: #fff;
  --text-light-secondary: #CCCCCC;
  --width-main: 1100px;
  --width-main-max: 90%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}