:root {
  --spacing-primary: 25px;
  --spacing-secondary: 15px;
  --spacing-tertiary: 8px;
  --border-radius-primary: 8px;
  --border-radius-secondary: 5px;
  --player-track-background: #e2e2e2;
  --background-primary: #fff;
  --background-secondary: #F6F6F6;
  --background-tertiary: #e6e6e6;
  --background-quaternary: #d7d7d7;
  --background-secondary-rgb: 246, 246, 246;
  --color-primary: #FF5959;
  --color-secondary: #FF7B7B;
  --text-primary: #131313;
  --text-secondary: #606770;
  --text-light-primary: #fff;
  --text-light-secondary: #CCCCCC;
  --width-main: 1100px;
  --width-main-max: 90%;
  --navbar-height: 94px;
  --footer-height: 100px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
}

.highlighted {
  color: var(--color-primary);
}
.underlined {
  text-decoration: underline;
}