.container {
    --section-padding: 20vh;
}

// Main
.main {
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-text {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 800;
        color: var(--text-light-primary);
    }
    p {
        font-size: 18px;
        width: 80%;
        color: var(--text-light-primary);
        margin: var(--spacing-primary) 0;
    }
    .buttons {
        display: flex;
        gap: var(--spacing-secondary);
    }
}
.background-image {
    position: absolute;
    z-index: -1;
    filter: blur(3px);
}
.wave-icon {
    position: absolute;
    bottom: -8vh;
    min-width: 1000px;
    overflow: hidden;
}

// Tiles
.tile-section {
    padding: var(--section-padding) 0;
    position: relative;
}
.tiles {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;

    &>h2 {
        font-size: 50px;
        margin: 0;
        margin-bottom: var(--spacing-primary);
    }
}
.tile-container {
    display: grid;
    gap: var(--spacing-secondary);
}
.tile {
    display: flex;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);
    overflow: hidden;
}
.tile-text {
    width: 72%;
    padding: calc(var(--spacing-primary) * 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        width: 55%;
    }
    p {
        font-size: 18px;
        color: var(--text-secondary);
        margin: var(--spacing-primary) 0;
    }
}
.tile-image {
    flex: 1;
    aspect-ratio: 1;
    position: relative;

    img {
        object-fit: cover;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(var(--background-secondary-rgb), 1) 0%, rgba(var(--background-secondary-rgb), 0) 100%);
    }
}


// Contact
.contact-section {
    padding: var(--section-padding) 0;
    background-color: var(--color-secondary);
    color: var(--text-light-primary);
    position: relative;
}
.contact-content {
    width: 625px;
    margin: 0 auto;
    text-align: center;

    h2 {
        margin: 0;
        font-size: 32px;
        margin-bottom: var(--spacing-primary);
    }
    button {
        margin: 0 auto;
        margin-top: var(--spacing-primary);
    }
}
.contact-input {
    margin-bottom: var(--spacing-secondary);
}