.container {
    --text-primary: var(--text-primary);
    --text-secondary: var(--text-secondary);
    width: var(--width-main);
    max-width: var(--width-main-max);
    padding: var(--spacing-secondary) 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
    color: var(--text-primary);

    &.light {
        --text-primary: var(--text-light-primary);
        --text-secondary: var(--text-light-secondary);
    }
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-name {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        width: 32px;
    }
}
.right {
    display: flex;
    align-items: center;
    gap: var(--spacing-secondary);
}
.tabs {
    display: flex;
    gap: var(--spacing-secondary);
    color: var(--text-secondary);
    font-size: 14px;

    a {
        &:hover, &.active {
            color: var(--text-primary);
        }
    }
}
.button {
    font-size: 12px !important;
    padding: 12px 15px;
}