.tops {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    display: grid;
    padding: calc(var(--spacing-primary) + var(--navbar-height)) 0 var(--spacing-primary);
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
    z-index: 1;
    background-color: var(--background-primary);
    padding: var(--spacing-primary) 0;

    h2 {
        margin: 0;
        font-size: 30px;
    }
}
.top-header-button {
    padding: 10px 15px;

    &:hover {
        background-color: var(--background-secondary);
    }
    &:active {
        background-color: var(--background-tertiary);
    }
}
.top-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(160px, 100%), 1fr));
    gap: var(--spacing-secondary);
    border-radius: var(--border-radius-primary);
    background-color: var(--background-secondary);
    padding: var(--spacing-secondary);
}
.top-item {
    text-align: center;

    a:hover {
        text-decoration: underline;
    }
}
.item-image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-primary);
    margin-bottom: var(--spacing-tertiary);
}