.main {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    padding: calc(var(--spacing-primary) + var(--navbar-height)) 0 var(--spacing-primary);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 35px;
        margin: 0;
    }
}
.header-tracks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
    gap: var(--spacing-secondary);
    margin-top: var(--spacing-primary);
}

.tracks {
    padding: var(--spacing-primary) 0;
    background-color: var(--background-secondary);
}
.track-list {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    display: grid;
    gap: var(--spacing-tertiary);
}
.track {
    padding: var(--spacing-tertiary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-tertiary);

    a:hover {
        text-decoration: underline;
    }
}
.track-image {
    min-width: 28px;
    width: 28px;
    height: 28px;
    border-radius: var(--border-radius-secondary);
    background-color: var(--background-quaternary);
    overflow: hidden;
    position: relative;
    display: block;

    img {
        object-fit: cover;
    }
}
.track-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    font-size: 14px;
}
.track-index {
    width: 20px;
    text-align: center;
}
.track-author {
    font-size: 13px;
    color: var(--text-secondary);
    
    a {
        color: var(--text-primary);
    }
}
.track-button {
    margin: 0 auto;
    margin-top: var(--spacing-secondary);
}

.track>.track-text-loading {
    width: 120px;
}
.track-text-loading {
    width: 80px;
    height: 18px;
    background-color: var(--background-quaternary);
    border-radius: var(--border-radius-secondary);
}

@media (max-width: 600px) {
    .track {
        flex-direction: column;
        align-items: unset;
    }
    .track-index {
        text-align: right;
        width: unset;
        order: 1;
        flex: 1;
        font-size: 16px;
        font-weight: 600;
    }
}